.App {
  height: 100vh;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  background: #061b30;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.content {

}

.main {
  border: 2px solid aquamarine;
  border-radius: 6px;
  padding: 5px;
  margin: 10px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #4d83b3;
}

.countColor {
  color: red;
}

.incorrect {
  border:2px solid red;
  box-shadow:0 0 7px red;
  background-color: #e8c5cf;
}

button {
  padding: 20px;
  margin: 10px;
  background: #326595;
  border: 0;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
}

button:active {
  background-color: #4d83b3;
}

.countdiv {
  background: aquamarine;
  padding: 30px;
  margin: 5px;
  font-weight: bold;
  font-size: 50px;
  color: #061b30;
  border-radius: 6px;
}
.countdiv .inputClass {
  background: aquamarine;
  font-weight: bold;
  font-size: 25px;
  color: #061b30;
  border-radius: 6px;
}

.buttons {
  margin: 5px;
  padding: 5px;
  border: 1px solid aquamarine;
  border-radius: 6px;
  color: #061b30;
}